<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Titre </title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}?v0.1">

        website
    </head>
    </body>
</html>
