body{
  background-color:#FFFFFF;
}

* {
 margin:0;
 padding:0;

 }

.tab{
  background-color: #F8F9FA;
  margin-top: 30px;
}

#header{
  background-color: #303F9F;
  height: auto;
  padding: 30px;
  font-weight: bold;
  font-size: 25px;
  color:white;
  text-align: center;
}

#header a{
  color:white;
  text-decoration: none;
}
